.tabs {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px 10px 5px 10px;
    border: 0;
    font-family: sans-serif;
    float: right;
}

.tab {
    color: black;
    padding: 5px 10px 5px 10px;
    background: #f2efe9;
    border-top: 5px solid #A00;
    text-decoration: none;
}

.hidden {
    display: none;
}

.action {
    color: black;
    border-top: 5px solid transparent;
    text-decoration: none;
}

.field {
    width: 80pt;
}

.spin {
    background: transparent url(/images/spin.gif) no-repeat scroll left center;
    padding-left: 16px;
}

#top {
    width: 100%;
    height: 50px;
    clear: both;
    margin-bottom: 0;
    overflow: hidden;
}

.transparent {
    color: transparent;
}

.form {
    position: absolute;
    z-index: 100000;
    background: lightgrey;
    clear: both;
    right: 0;
    border: 1px solid;
    margin-bottom: 0;
    overflow: hidden;
    float: right;
}

#logo {
    background: url(/images/cat.png) no-repeat;
    float: left;
    width: 200px;
    height: 50px;
    margin-left: 5px;
}

.tab:hover {
    border-top: 5px solid #FA0;
}

body {
    background: #cccccc;
}

.olControlEditingToolbar div {
    width: 25px !important;
}

.olControlMeasureItemActive {
    background-image: url(/images/ruler.png) !important;
    background-position: 0 -23px !important;
}

.olControlMeasureItemInactive {
    background-image: url(/images/ruler.png) !important;
    background-position: 0 0 !important;
}

.olControlPermalink {
  font-family: sans-serif !important;
}

#map {
    height: 512px;
    overflow: hidden;
}
 
#distance {
    font-size: 15px;
    right : 20px;
    bottom: 50px;
    position: absolute;
    font-family: sans-serif;
    z-index: 1000;
    display: none;
}

.sidebar_title {
    border-bottom: 1px solid; 
    display: block; 
    background: #eeeeee;
    padding-left: 5px;
    clear: both;
}

#sidebar_title {
    width: 100%; 
    display: inline;
}

#sidebar {
    border: 1px solid; 
    float: left; 
    background: white;
    margin-right: 5px; 
    height: 512px; 
    width: 30%;
    font-family: sans-serif;
}

#sidebar_close {
    float: right;
    text-decoration: none;
}

#sidebar_content {
    padding: 5px;
}

.olControlLayerSwitcher {
    top: 55px !important;
}

.olControlAttribution {
    bottom: 0px !important;
    left: 0 !important;
}


