body {
    color: #333333;
    background: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#head {
    background: url(logo-80.png) no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 85px;
}

#sorry {
    position: absolute;
    font-family: "DejaVu Sans",Arial,sans-serif;
    background: lightyellow;
    right: 0;
    display: block;
    z-index: 99999;
    margin: 3px;
}

#map {
    height: 512px;
    overflow: hidden;
}
 
#distance {
    font-size: 15px;
    right : 20px;
    bottom: 50px;
    position: absolute;
    font-family: sans-serif;
    z-index: 1000;
    display: none;
}

.hidden {
    display: none;
}

.sidebar_title {
    border-bottom: 1px solid; 
    display: block; 
    background: #eeeeee;
    padding-left: 5px;
    /*height: 5%;*/
    clear: both;
}

#sidebar_title {
    width: 100%; 
    display: inline;
}

#sidebar {
    border: 1px solid; 
    float: left; 
    background: white;
    margin-right: 5px; 
    height: 512px; 
    width: 0;
    font-family: sans-serif;
    position: relative;
}

#sidebar_close {
    float: right;
    text-decoration: none;
}

#sidebar_content {
    padding-left: 5px;
    overflow: auto;
    height: 95%;
    font-size: 9pt;
}

#transtable * {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    font-size: 8pt;
}

#transtable a {
    border: 0;
    text-decoration: none;
}

#transtable a:hover {
    text-decoration: underline;
}

#transtable tbody tr td {
    height: 20px;
    min-height: 20px;
}

#tagspopup {
    background-color: white;
    padding-right: 10pt;
    overflow: auto;
    font-size: 8pt;
}

.olControlLayerSwitcher {
    top: 55px !important;
    font-size: 8pt !important;
}

.olControlAttribution {
    bottom: 0px !important;
    left: 0 !important;
    font-size: 8pt !important;
    font-family: sans-serif !important;
}

.olControlScaleLine {
    font-family: sans-serif !important;
}

.olControlPermalink {
    font-size: 8pt !important;
}

.olControlMousePosition {
    font-size: 8pt !important;
}

h3 {
    font-family: sans-serif;
    font-size: 12pt;
}

.olFramedCloudPopupContent {
    font-family: sans-serif;
    font-size: 8pt;
}

.osb-description {
    font-family: sans-serif;
    font-size: 8pt;
}

.modifiedrow {
    background-color: #eaf0f0;
}

.autorow {
    background-color: #f9f9b0;
}

.savedrow {
    background-color: #b0f9b0;
}

.nodeobj {
    background: url("/images/node.png") no-repeat;
    padding-left: 20px;
}

.wayobj {
    background: url("/images/way.png") no-repeat;
    padding-left: 20px;
}

.relationobj {
    background: url("/images/relation.png") no-repeat;
    padding-left: 20px;
}

.actionlink {
    text-decoration: none;
    border-bottom: 1px dashed;
    font-size: 7pt;
}

.actionlink:hover {
    text-decoration: none;
    border-bottom: 0;
    font-size: 7pt;
}

.maintagli {
    font-weight: bold;
}

.tagli {
    padding: 2px;
}

.tagli:hover {
    background: #ccccff;
}

#loginbox {
    border: 1px solid;
    margin: 5pt;
    padding: 5pt;
}
